body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e2e2;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 background-color: whitesmoke;
}

.employee-list, .team-list {
  width: 450px;
}

h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 30px;
  color: #051f3b;

}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #c9c7c7;
}

li.disabled {
  color: rgb(141, 140, 140);
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  background-color: #0e6379;

  
}

button:hover {
  background-color: #1a0af0;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
buttons{
  padding: 5px 8px;
  border: none;
  border-radius: 4px;
  background-color: #0e6379;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

buttons:hover {
  background-color: #f02c09;
}
#ag{
  padding: 5px;
  background-color: #d0deeb;
  color: rgb(14, 13, 13);
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
}